[globals]
DEBUG=0
UI=ui/
FACEBOOK_APPID=###########
FACEBOOK_APPSECRET=#######
MYSQL_SERVER=#############
MYSQL_PORT=###############
MYSQL_DB=#################
MYSQL_USER=###############
MYSQL_PWD=################
HTTP_USER=################
HTTP_PASS=################
