[globals]
PROD=1
DEBUG=0
UI=ui/
AUTOLOAD=/path/to/root
FACEBOOK_APPID=###########
FACEBOOK_APPSECRET=#######
MYSQL_SERVER=#############
MYSQL_PORT=###############
MYSQL_DB=#################
MYSQL_USER=###############
MYSQL_PWD=################
HTTP_USER=################
HTTP_PASS=################
